<div class="card">
    <div class="card-header">
        <h3 class="card-title text-capitalize"><%= type %></h3>
    </div>
    <div class="card-body">
        <%= render "rooms/forms/#{type}_form" %>
    </div>
</div>