<div class="contatiner-fluid">
    <div class="row m-0 p-0">
        <div class="col-md-3">
            <%= render 'side_bar', type:type %>
        </div>
        <div class="col-md-9">
            <%= render 'form', type:type %>
        </div>
    </div>
</div>